.navbar {
  color: #eee;
  background-color: #333;
  padding: 1rem;
  transition: all 0.3s ease-in-out !important;
  box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.75);
}

.navbar:hover .vg-list-logo {
  margin: 2rem;
  border-radius: 3rem;
  transform: scale(2.0);
}

.option-select {
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 0.4rem;
  transition: all 0.3s ease-in-out;
}

.option {
  transition: all 0.3s ease-in-out;
}

.option:hover {
  color: var(--main-color);
  font-size: 20px;
  cursor: pointer;
}

.vg-list-logo {
  height: 100px;
  border-radius: 2.9rem;
  transition: all 0.3s ease-in-out;
  padding: 0.7em;
}

