<div class="navbar-container">
  <div
    class="navbar"
    (mouseenter)="toggleNavbar()"
    (mouseleave)="toggleNavbar()"
  >
    <img
      class="vg-list-logo"
      src="../../../../assets/images/Logo.png"
      alt="Logo"
    />
    @if (isNavbarVisible()) {
      <div class="option-select">
        <a class="option" [routerLink]="['/home']">Home</a>
        <a class="option" [routerLink]="['/explore']">Explore</a>
        <a class="option" [routerLink]="['/profile']">Profile</a>
        <a class="option" [routerLink]="['/settings']">Settings</a>
      </div>

      <img
        class="search-icon"
        src="assets\images\search.svg"
        alt=""
        width="50rem"
      />
    }
  </div>
</div>
