<div class="profile-container">
  <div class="profile-options">
    <button class="profile-button">Edit Profile</button>
  </div>

  <img
    src="../../../assets/images/pfp.webp"
    alt="pfp"
    class="pfp"
    width="200em"
  />

  <div class="profile-info">Username</div>

  <div class="list-box">
    <div class="favorited-lists">
      <h2>Favorited Lists</h2>
      @for (myList of myLists; track $index) {
        <h3>{{ myList }}</h3>
      }
    </div>

    <div class="my-lists">
      <h2>My Lists</h2>
      @for (myFavoritedList of myFavoritedLists; track $index) {
        <h3>{{ myFavoritedList }}</h3>
      }
    </div>
  </div>
</div>
